html{
  position: relative;
  min-height: 100%;
}
body{
    background: url('https://images.pexels.com/photos/5827772/pexels-photo-5827772.jpeg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arvo,serif;
}
.jumbotron{
  background-color: transparent;
  text-align: center;
  letter-spacing: 2.5px;
  padding: 10px;
  margin-top: 150px;
  color: rgb(8, 246, 218);
}
.signup{
  margin-top: 50px;
}
.green{
  background-color: rgb(0, 51, 255,0.8);
  color: white;
}
.green:hover{
  background-color: rgba(0, 51, 255);
  color: white;
}
.footer{
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}
.navbar-custom,.footer {
    background-color: #c91965;
    border-color: #ac1556;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e5307e), to(#c91965));
    background-image: -webkit-linear-gradient(top, #e5307e, 0%, #c91965, 100%);
    background-image: -moz-linear-gradient(top, #e5307e 0%, #c91965 100%);
    background-image: linear-gradient(to bottom, #e5307e 0%, #c91965 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5307e', endColorstr='#ffc91965', GradientType=0);
  }
  .navbar-custom .navbar-brand {
    color: #ffffff;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
  }
  .navbar-custom .navbar-text {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav > li:last-child > a {
    border-right: 1px solid #ac1556;
  }
  .navbar-custom .navbar-nav > li > a {
    color: #ffffff;
    border-left: 1px solid #ac1556;
  }
  .navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-nav > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav > .active > a,
  .navbar-custom .navbar-nav > .active > a:hover,
  .navbar-custom .navbar-nav > .active > a:focus {
    color: #c0c0c0;
    background-color: #ac1556;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ac1556), to(#d91b6d));
    background-image: -webkit-linear-gradient(top, #ac1556, 0%, #d91b6d, 100%);
    background-image: -moz-linear-gradient(top, #ac1556 0%, #d91b6d 100%);
    background-image: linear-gradient(to bottom, #ac1556 0%, #d91b6d 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac1556', endColorstr='#ffd91b6d', GradientType=0);
  }
  .navbar-custom .navbar-nav > .disabled > a,
  .navbar-custom .navbar-nav > .disabled > a:hover,
  .navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
  .navbar-custom .navbar-toggle {
    border-color: #dddddd;
  }
  .navbar-custom .navbar-toggle:hover,
  .navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
  }
  .navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
  }
  .navbar-custom .navbar-collapse,
  .navbar-custom .navbar-form {
    border-color: #a91555;
  }
  .navbar-custom .navbar-nav > .dropdown > a:hover .caret,
  .navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
  }
  .navbar-custom .navbar-nav > .open > a,
  .navbar-custom .navbar-nav > .open > a:hover,
  .navbar-custom .navbar-nav > .open > a:focus {
    background-color: #ac1556;
    color: #c0c0c0;
  }
  .navbar-custom .navbar-nav > .open > a .caret,
  .navbar-custom .navbar-nav > .open > a:hover .caret,
  .navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
  }
  .navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
  @media (max-width: 767) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #c0c0c0;
      background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #c0c0c0;
      background-color: #ac1556;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #cccccc;
      background-color: transparent;
    }
  }
  .navbar-custom .navbar-link {
    color: #ffffff;
  }
  .navbar-custom .navbar-link:hover {
    color: #c0c0c0;
  }